xml/day2/Afternoon/poGenerated.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2011 rel. 2 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="zip">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="T3G 5A2"/>
				<xs:enumeration value="V2C 1W5"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="street">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="123 Maple Street"/>
				<xs:enumeration value="8 Oak Avenue"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="shipTo">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="name"/>
				<xs:element ref="street"/>
				<xs:element ref="city"/>
				<xs:element ref="province"/>
				<xs:element ref="zip"/>
			</xs:sequence>
			<xs:attribute name="country" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Canada"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="shipDate">
		<xs:simpleType>
			<xs:restriction base="xs:date">
				<xs:enumeration value="1999-05-21"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="quantity">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="purchaseOrder">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="shipTo"/>
				<xs:element ref="billTo"/>
				<xs:element ref="comment"/>
				<xs:element ref="items"/>
			</xs:sequence>
			<xs:attribute name="orderDate" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:date">
						<xs:enumeration value="1999-10-20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="province">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="AB"/>
				<xs:enumeration value="BC"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="productName">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Baby Monitor"/>
				<xs:enumeration value="Lawnmower"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="name">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Alice Smith"/>
				<xs:enumeration value="Robert Smith"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="items">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="item" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="item">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="productName"/>
				<xs:element ref="quantity"/>
				<xs:element ref="CanadaPrice"/>
				<xs:choice>
					<xs:element ref="comment"/>
					<xs:element ref="shipDate"/>
				</xs:choice>
			</xs:sequence>
			<xs:attribute name="partNum" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="872-AA"/>
						<xs:enumeration value="926-AA"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="comment">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Confirm this is electric"/>
				<xs:enumeration value="Hurry, my lawn is going wild"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="city">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Mill Valley"/>
				<xs:enumeration value="Old Town"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="billTo">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="name"/>
				<xs:element ref="street"/>
				<xs:element ref="city"/>
				<xs:element ref="province"/>
				<xs:element ref="zip"/>
			</xs:sequence>
			<xs:attribute name="country" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Canada"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="CanadaPrice">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:enumeration value="148.95"/>
				<xs:enumeration value="39.98"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
</xs:schema>
